/* ===========================Media Query============================= */
/* @media screen and (max-width: 639px) {

}

@media screen and (min-width: 640px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1280px) {

} */

/* ===========================Media Query============================= */
@media screen and (max-width: 767px) {
  /*==========Header Section=========== */
  nav .container {
    flex-direction: column;
    left: 0;
    width: 100%;
    position: fixed;
  }

  nav .links ul {
    display: none;
  }

  nav .right-section button {
    display: none;
  }

  .hero {
    height: auto;
    padding-top: 100px;
  }

  .hero .container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .hero-content {
    width: 100%;
  }

  .hero-content h1 {
    font-size: 42px;
    line-height: 1.2;
  }

  .hero-content p {
    font-size: 18px;
    padding: 15px;
    margin: 20px 0;
  }

  .hero-content .btn-start-reading,
  .hero-content .btn-watch-intro {
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    font-size: 16px;
  }

  .hero-image {
    width: 80%;
    transform: rotate(0);
    margin-bottom: 80px;
    margin-top: 20px;
  }

  .left-rhombus,
  .right-rhombus {
    display: none;
  }

  /*=============Latest Article Section===========*/
  .latest-article-section .container {
    flex-direction: column;
    align-items: center;
  }

  .latest-article-section .left-section {
    width: 100%;
  }

  .latest-article {
    flex-direction: column;
    padding: 15px;
    margin-top: 30px;
  }

  .latest-article .image {
    width: 100%;
    padding-right: 0;
    margin-bottom: 15px;
  }

  .latest-article img {
    width: 100%;
  }

  .article-info {
    text-align: center;
  }

  .article-info h2 {
    font-size: 20px;
  }

  .article-info p {
    font-size: 15px;
  }

  .info {
    justify-content: center;
    gap: 8px;
    font-size: 12px;
  }

  .latest-article-section .left-section .load-more-btn button {
    font-size: 18px;
    padding: 10px 20px;
  }

  .latest-article-section .container .right-section {
    width: 100%;
    position: static;
    margin-left: 0;
    margin-top: 40px;
  }

  .right-section .trending-now,
  .right-section .categories-box {
    width: 90%;
    margin: 0 auto 30px;
  }

  .right-section .trending-now h3,
  .right-section .categories-box h3 {
    font-size: 24px;
    padding-left: 20px;
  }

  .right-section .trending-now .content .details p {
    font-size: 16px;
  }

  /*=============Meet The Author Section===========*/
  .meet-author-section .author-header h2 {
    font-size: 28px;
  }

  .meet-author-section .author-header span {
    font-size: 14px;
  }

  .meet-author-section .carts {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .meet-author-section .carts .cart {
    width: 90%;
    padding: 25px;
  }

  .meet-author-section .carts .cart img {
    width: 120px;
  }

  .meet-author-section .carts .cart h3 {
    font-size: 22px;
  }

  .meet-author-section .carts .cart span.job {
  font-size: 14px;
  }

  .meet-author-section .carts .cart p {
    font-size: 14px;
    padding: 5px;
  }

  .meet-author-section .carts .cart .social-icons i {
    padding: 10px 15px;
    margin-right: 6px;
  }

  .author-left-rhombus,
  .author-right-rhombus {
    display: none;
  }

  /*=============JOIN THE REBELLION  Section===========*/
  .join-rebellion-section .rebilion-header h2 {
    font-size: 28px;
  }

  .join-rebellion-section .rebilion-header span{
    font-size: 14px;
  }
  .join-rebellion-section .rebellion-content {
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
  }

  .rebellion-content .rebellion-left-section,
  .rebellion-content .rebellion-right-section {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }

  .rebellion-content .rebellion-left-section h3,
  .rebellion-content .rebellion-right-section h3 {
    font-size: 24px;
    text-align: center;
  }

  .rebellion-content .rebellion-left-section p {
    font-size: 16px;
    padding: 15px;
  }

  .rebellion-left-section .features-list .feature {
    align-items: flex-start;
  }

  .rebellion-left-section .features-list .feature span {
    font-size: 16px;
  }

  .rebeilion-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }

  .rebellion-cart p {
    font-size: 16px;
  }

  .rebellion-cart .image img {
    width: 40px;
  }

  .rebilion-header h2 {
    font-size: 28px;
  }

  .rebilion-header span {
    font-size: 16px;
    text-align: center;
    display: block;
  }

  .rebellion-carts {
    width: 90%;
    margin: 0 auto;
  }

  .rebellion-right-section h3 {
    padding-top: 20px;
  }

  /*=============Footer Section===========*/
  footer .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }

  .ux-review-logo {
    justify-content: center;
  }

  .footer-ux-review,
  .categories,
  .newsletter {
    width: 100%;
    margin-bottom: 40px;
    justify-content: center;
  }

  .footer-ux-review p {
    font-size: 16px;
    text-align: center;
  }

  .ux-review-logo span {
    font-size: 22px;
  }

  .categories ul {
    padding: 0;
    font-size: 16px;
  }

  .newsletter input,
  .newsletter button {
    width: 100%;
  }

  .copyrights {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
  }

  .copyrights span {
    font-size: 10px;
  }

  .copyrights ul {
    flex-direction: column;
    gap: 8px;
  }
}

/*================================================================================*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*==========Header Section=========== */
  nav .container {
    flex-direction: column;
    left: 0;
    width: 100%;
    position: fixed;
  }

  nav .links ul {
    display: none;
  }

  nav .right-section button {
    display: none;
  }

  .hero {
    height: auto;
  }

  .hero .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .hero-content {
    width: 80%;
  }

  .hero-content h1 {
    font-size: 60px;
  }

  .hero-image {
    width: 60%;
    margin: 50px 0;
  }

  .hero-content .btn-start-reading,
  .hero-content .btn-watch-intro {
    width: 45%;
  }

  .left-rhombus {
    margin-top: 100px;
  }

  /*=============Latest Article Section===========*/
  .latest-article-section .container {
    flex-direction: column;
    align-items: center;
  }

  .latest-article-section .left-section {
    width: 60%;
  }

  .latest-article {
    flex-direction: column;
    padding: 15px;
    margin-top: 30px;
  }

  .latest-article .image {
    width: 100%;
    padding-right: 0;
    margin-bottom: 15px;
  }

  .latest-article img {
    width: 100%;
  }

  .article-info {
    text-align: center;
  }

  .article-info h2 {
    font-size: 20px;
  }

  .article-info p {
    font-size: 15px;
  }

  .info {
    justify-content: center;
    gap: 8px;
    font-size: 12px;
  }

  .latest-article-section .left-section .load-more-btn button {
    font-size: 18px;
    padding: 10px 20px;
  }

  .latest-article-section .container .right-section {
    width: 100%;
    position: static;
    margin-left: 0;
    margin-top: 40px;
  }

  .right-section .trending-now,
  .right-section .categories-box {
    width: 90%;
    margin: 0 auto 30px;
  }

  .right-section .trending-now h3,
  .right-section .categories-box h3 {
    font-size: 24px;
    padding-left: 20px;
  }

  .right-section .trending-now .content .details p {
    font-size: 16px;
  }

  /*=============Meet The Author Section===========*/
  .meet-author-section .author-header h2 {
    font-size: 28px;
  }

  .meet-author-section .author-header span {
    font-size: 14px;
  }

  .meet-author-section .carts {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .meet-author-section .carts .cart {
    width: 100%;
    padding: 25px;
  }

  .meet-author-section .carts .cart img {
    width: 120px;
  }

  .meet-author-section .carts .cart h3 {
    font-size: 22px;
  }

  .meet-author-section .carts .cart p {
    font-size: 14px;
    padding: 5px;
  }

  .meet-author-section .carts .cart .social-icons i {
    padding: 10px 15px;
    margin-right: 6px;
  }

  .author-left-rhombus,
  .author-right-rhombus {
    display: none;
  }

  /*=============JOIN THE REBELLION  Section===========*/
  .join-rebellion-section .rebellion-content {
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
  }

  .rebellion-content .rebellion-left-section,
  .rebellion-content .rebellion-right-section {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }

  .rebellion-content .rebellion-left-section h3,
  .rebellion-content .rebellion-right-section h3 {
    font-size: 24px;
    text-align: center;
  }

  .rebellion-content .rebellion-left-section p {
    font-size: 16px;
    padding: 15px;
  }

  .rebellion-left-section .features-list .feature {
    align-items: center;
  }

  .rebellion-left-section .features-list .feature span {
    font-size: 16px;
  }

  .rebeilion-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }

  .rebellion-cart p {
    font-size: 16px;
  }

  .rebellion-cart .image img {
    width: 40px;
  }

  .rebilion-header h2 {
    font-size: 28px;
  }

  .rebilion-header span {
    font-size: 16px;
    text-align: center;
    display: block;
  }

  .rebellion-carts {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .rebellion-right-section h3 {
    padding-top: 20px;
  }

  /*=============Footer Section===========*/
  footer .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }

  .ux-review-logo {
    justify-content: center;
  }

  .footer-ux-review,
  .categories,
  .newsletter {
    width: 100%;
    margin-bottom: 40px;
    justify-content: center;
  }

  .footer-ux-review p {
    font-size: 16px;
    text-align: center;
  }

  .ux-review-logo span {
    font-size: 22px;
  }

  .categories ul {
    padding: 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .newsletter input,
  .newsletter button {
    width: 100%;
  }

  .copyrights {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
  }

  .copyrights span {
    font-size: 14px;
  }

  .copyrights ul {
    gap: 8px;
  }
}
