/* =================Google Fonts======================================= */
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  line-height: 1.4;
}

body {
  font-family: "Exo", sans-serif;
  border: 1px solid black;
}

a {
  color: black;
}

img {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/*=====================================Nav bar=============================== */
header {
  background-color: #fff085;
}
nav {
  padding-top: 20px;
}
nav .container {
  background-color: white;
  justify-content: space-around;
  align-items: center;
  padding-block: 10px;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 999;
  position: fixed;
  left: 12%;
  z-index: 1;
}

.left-rhombus,
.author-left-rhombus,
.author-right-rhombus {
  transform: rotate(20deg);
  z-index: 0;
  border-radius: 1px;
}

.left-rhombus {
  width: 150px;
  height: 150px;
  background-color: #e5d877;
  margin-top: 25px;
  margin-left: 55px;
  top: 50px;
  left: 15px;
  border-radius: 1px;
}

.author-left-rhombus {
  width: 140px;
  height: 140px;
  background-color: #ffc131;
  transform: rotate(-20deg);
  border-radius: 1px;
  position: absolute;
  left: -145px;
}

.author-right-rhombus {
  width: 150px;
  height: 150px;
  background-color: #e5bd2b;
  transform: rotate(45deg);
  z-index: 0;
  border-radius: 1px;
  position: absolute;
  right: 50px;
}

nav .container,
nav .links ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

nav .logo p,
nav .logo span {
  font-size: 28px;
  font-weight: bolder;
}

nav .logo span {
  color: #ff6900;
}

nav .links {
  text-transform: uppercase;
  font-weight: 600;
}

nav .links ul {
  gap: 10px;
}

nav .links ul li a:hover {
  color: #ffc131;
}

nav .links i {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.138);
}

nav .right-section button {
  padding: 10px;
  background-color: #ffd15b;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
  transition: transform 0.1s ease;
}
nav .right-section button:hover {
  transform: translate(3px, 3px);
}

/*==============================Hero Section CSS========================= */
.hero {
  height: 100vh;
  z-index: 1000;
  border-bottom: 4px solid black;
}

/*========Hero Content======= */
.hero .hero-content .trending-badge,
.left-section .latest-article-header .fresh {
  position: relative;
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  transform: rotate(-5deg);
  box-shadow: 5px 5px black;
}

.hero .hero-content .trending-badge span,
.left-section .latest-article-header .fresh {
  background-color: black;
  color: white;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.hero-content .trending-badge span i,
.left-section .fresh i {
  color: #f16f37;
}

.hero-content {
  width: 50%;
}

.hero-content h1 {
  padding-top: 30px;
  font-size: 80px;
  font-weight: bolder;
  text-shadow: 5px 5px #000;
}

.hero-content h1 .red-color {
  color: #e7000b;
  display: block;
}

.hero-content h1 .blue-color {
  color: #155dfc;
}

.hero-content p {
  background-color: white;
  color: #000;
  padding: 20px;
  font-size: 26px;
  font-weight: 500;
  border: 1px solid black;
  box-shadow: 5px 5px black;
}

.hero-content .hero-btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero-content .btn-start-reading,
.hero-content .btn-watch-intro {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: 5px 5px black;
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  width: 40%;
}

.hero-btns {
  transition: all 5s ease;
}

.hero-btns .btn-start-reading:hover,
.btn-watch-intro:hover {
  transform: translate(4px, 4px);
  box-shadow: 0 0 #000;
}

.hero-content .btn-start-reading img,
.hero-content .btn-watch-intro img {
  width: 18%;
  padding-right: 10px;
}

.hero-content .btn-start-reading {
  background-color: #000;
  color: white;
  margin-right: 20px;
}

.hero-content .btn-watch-intro {
  border: 4px black solid;
}

/*========Hero Image======= */
.right-rhombus {
  width: 100px;
  height: 100px;
  background-color: #ffdc7d;
  transform: rotate(40deg);
  z-index: 0;
  top: 200px;
  right: 100px;
  position: absolute;
  border-radius: 1px;
}

.hero .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hero-image {
  width: 40%;
  transform: rotate(5deg);
  border: 4px solid #000;
  box-shadow: 5px 5px black;
  position: relative;
  transition: transform 0.3s ease;
}

.hero-image:hover {
  transform: scale(1.01) rotate(5deg);
}

.hero-image .featured {
  position: absolute;
  background-color: #fb2c36;
  right: 1px;
  padding: 10px;
  color: white;
  border: 2px solid black;
  box-shadow: 5px 5px black;
  top: -18px;
  transform: rotate(5deg);
  text-transform: uppercase;
  font-weight: bold;
}

/*=======================Latest Article Section================================*/
.latest-article-section {
  border-bottom: #000 3px solid;
}

.latest-article-section .container {
  display: flex;
  align-items: flex-start;
}
.latest-article-section .left-section {
  width: 80%;
}

.latest-article-header h2 {
  font-size: 45px;
  font-weight: bolder;
  text-shadow: 2px 2px #000;
}
.latest-article-section .left-section .latest-article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.latest-article-section .left-section .fresh {
  transform: rotate(5deg);
}

.article-info h2.tech-color:hover {
  color: red;
}

.article-info h2.design-color:hover {
  color: #2b7fff;
}

.article-info h2.culture-color:hover {
  color: #ad46ff;
}

.latest-article {
  background: white;
  padding: 20px;
  border: 4px solid black;
  box-shadow: 10px 10px 0 black;
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}

.latest-article .image {
  position: relative;
  width: 40%;
  padding-right: 30px;
}

.latest-article img {
  border: 3px solid black;
}

.tag {
  position: absolute;

  font-weight: 700;
  padding: 3px 10px;
  border: 2px solid black;
  color: white;
}
.tag.new {
  top: -10px;
  right: 10px;
  background: red;
  transform: rotate(10deg);
}

.tag.hot {
  background: #2b7fff;
  transform: rotate(-10deg);
  top: -10px;
  right: 10px;
}

.tag.viral {
  top: -10px;
  right: 8px;
  background: #ad46ff;
  transform: rotate(45deg);
}

.article-info .category {
  box-shadow: 3px 3px black;
  padding: 2px 8px;
  font-weight: 700;
  border: 2px solid black;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  transform: rotate(-2deg);
  text-transform: uppercase;
}

.article-info .tech {
  background: #ffdf20;
}

.article-info .design {
  background: #7bf1a8;
}

.article-info .culture {
  background: #fda5d5;
}

.article-info h2 {
  font-size: 24px;
  margin: 5px 0;
}

.article-info p {
  color: #000;
  line-height: 1.5;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
  font-size: 14px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

.info .red-heart {
  color: red;
}

.latest-article-section .left-section .latest-article {
  transition: all 0.5s ease;
}

.latest-article-section .left-section .latest-article:hover {
  transform: scale(1.01);
}
.latest-article-section .left-section .load-more-btn,
.rebeilion-btn {
  display: flex;
  justify-content: center;
}

.latest-article-section .left-section .load-more-btn button,
.rebeilion-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  color: #fff;
  background-color: #000;
  font-size: 24px;
  font-weight: 600;
  box-shadow: 5px 5px #000;
  transition: all 0.25s ease;
}

.latest-article-section .left-section .load-more-btn button:hover,
.rebeilion-btn:hover {
  transform: translate(5px, 5px);
  box-shadow: 0 0 #000;
}

.latest-article-section .container {
  display: flex;
}

/*===right section=== */
.latest-article-section .container .right-section {
  width: 60%;
  margin-left: 30px;
  position: sticky;
  top: 20px;
  align-self: flex-start;
}
.right-section .trending-now,
.right-section .categories-box {
  margin-top: 40px;
  border: 2px solid black;
  box-shadow: 5px 5px #000;
  width: 80%;
}

.right-section .trending-now h3,
.right-section .categories-box h3 {
  padding-top: 15px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
  text-shadow: 1px 1px black;
}

.right-section .trending-now h3 {
  padding-left: 40px;
}

.right-section .categories-box h3 {
  padding-left: 20px;
}

.right-section .trending-now .number {
  padding-top: 15px;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bolder;
  padding-left: 40px;
}

.right-section .trending-now .red {
  color: red;
  text-shadow: 1px 1px red;
}

.right-section .trending-now .blue {
  color: #2b7fff;
  text-shadow: 1px 1px #2b7fff;
}

.right-section .trending-now .purple {
  color: #ad46ff;
  text-shadow: 1px 1px #ad46ff;
}

.right-section .trending-now .content {
  display: flex;
  align-items: center;
}

.right-section .trending-now .content .details {
  margin-top: 26px;
  padding-left: 10px;
}

.right-section .trending-now .content .details p {
  font-size: 18px;
  font-weight: bolder;
}

.trending-now .details .d1-color:hover {
  color: red;
  cursor: pointer;
}

.trending-now .details .d2-color:hover {
  color: #2b7fff;
  cursor: pointer;
}

.trending-now .details .d3-color:hover {
  color: #ad46ff;
  cursor: pointer;
}

.right-section .trending-now .content .details span {
  font-size: 14px;
  color: #00000077;
}

.right-section .trending-now .content .details span i {
  font-size: 12px;
  color: #f16f37;
}

.right-section .trending-now .last {
  margin-bottom: 20px;
}

.category {
  border: 2px solid #000;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-weight: 700;
  margin-top: 10px;
}

.categories-box .tech {
  background-color: #fff8b0;
  transition: all 0.3s ease;
}

.categories-box .tech:hover {
  background-color: #ffdf20;
  box-shadow: 5px 5px #000;
  transform: scale(1.01);
  cursor: pointer;
}

.categories-box .design {
  background-color: #d6f5e3;
  transition: all 0.3s ease;
}

.categories-box .design:hover {
  background-color: #7bf1a8;
  box-shadow: 5px 5px #000;
  transform: scale(1.01);
  cursor: pointer;
}

.categories-box .culture {
  background-color: #f8e2ef;
  transition: all 0.3s ease;
}

.categories-box .culture:hover {
  background-color: #fda5d5;
  box-shadow: 5px 5px #000;
  transform: scale(1.01);
  cursor: pointer;
}

.categories-box .opinion {
  background-color: #dce7fd;
  transition: all 0.3s ease;
}

.categories-box .opinion:hover {
  background-color: #8ec5ff;
  box-shadow: 5px 5px #000;
  transform: scale(1.01);
  cursor: pointer;
}

.categories-box .tutorials {
  background-color: #ebddfc;
  transition: all 0.3s ease;
}

.categories-box .tutorials:hover {
  background-color: #dab2ff;
  box-shadow: 5px 5px #000;
  transform: scale(1.01);
  cursor: pointer;
}

.categories-box {
  padding: 20px;
  width: 280px;
  margin-bottom: 30px;
}

/*========================MEET THE AUTHORS Section==================*/

.meet-author-section {
  background-color: #ffd230;
  padding-bottom: 40px;
  border-bottom: 3px solid #000;
}

.meet-author-section .author-header,
.join-rebellion-section .rebilion-header {
  padding-top: 50px;
}

.meet-author-section .author-header h2,
.join-rebellion-section .rebilion-header h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 1px 1px #000;
}

.meet-author-section .author-header span,
.join-rebellion-section .rebilion-header span {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: grey;
  font-weight: bold;
  padding-top: 10px;
}

.underline {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 7px;
  background: #000;
  margin-top: 10px;
  margin-inline: auto;
}

.meet-author-section .carts {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 80px;
  margin-bottom: 100px;
}

.meet-author-section .carts .cart {
  border: 5px solid #000;
  padding: 40px;
  box-shadow: 5px 5px #000;
  margin-left: 20px;
  transition: transform 0.3s ease;
}

.meet-author-section .carts .one {
  position: relative;
}

.meet-author-section .carts .cart:hover {
  transform: scale(1.02);
}

.meet-author-section .carts .cart .badge {
  display: flex;
  justify-content: end;
}

.meet-author-section .carts .cart .badge span {
  color: white;
  border: 2px solid #000;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  font-size: 12px;
}

.meet-author-section .carts .one span.red {
  background-color: red;
  transform: rotate(10deg);
}

.meet-author-section .carts .two span.blue {
  background-color: #2b7fff;
  transform: rotate(-10deg);
}

.meet-author-section .carts .three span.purple {
  background-color: #ad46ff;
  transform: rotate(45deg);
}

.meet-author-section .carts .cart .image {
  display: flex;
  justify-content: center;
}
.meet-author-section .carts .cart img {
  width: 150px;
  border: 5px solid #000;
}

.meet-author-section .carts .cart h3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 28px;
  font-weight: bolder;
  text-shadow: 1px 1px #000;
}

.meet-author-section .carts .cart h3.alex:hover {
  color: #e7000b;
}

.meet-author-section .carts .cart h3.arnold:hover {
  color: #2b7fff;
}

.meet-author-section .carts .cart h3.mike:hover {
  color: #ad46ff;
}

.meet-author-section .carts .cart span.job {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-weight: bolder;
  color: #00000095;
}

.meet-author-section .carts .cart p {
  line-height: 1.5;
  text-align: center;
  padding-top: 10px;
}

.meet-author-section .carts .one {
  background-color: #fef9c2;
}

.meet-author-section .carts .two {
  background-color: #dbfce7;
}

.meet-author-section .carts .three {
  background-color: #fce7f3;
}

.meet-author-section .carts .cart .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.meet-author-section .carts .cart .social-icons i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 20px 30px;
  margin-right: 10px;
}

.meet-author-section .carts .cart .social-icons .twitter:hover {
  background-color: #1da1f2;
  border: 1px solid #000;
}

.meet-author-section .carts .cart .social-icons .linkedin:hover {
  background-color: #155dfc;
  border: 1px solid #000;
}

.meet-author-section .carts .cart .social-icons .instagram:hover {
  background-color: #e60076;
  border: 1px solid #000;
}

/*========================Join the rebellion Section==================*/
.join-rebellion-section .rebellion-content {
  display: flex;
  margin-top: 100px;
  gap: 50px;
}

.rebellion-content .rebellion-left-section {
  width: 50%;
  margin-top: 30px;
}

.rebellion-content .rebellion-right-section {
  width: 50%;
  border: 2px solid #000;
  padding-top: 30px;
  padding-inline: 30px;
  margin-bottom: 40px;
}

.rebellion-content .rebellion-left-section h3,
.rebellion-content .rebellion-right-section h3 {
  font-size: 32px;
  font-weight: bolder;
  text-shadow: 1px 1px #000;
}

.rebellion-content .rebellion-left-section p {
  font-size: 20px;
  text-align: left;
  line-height: 2;
  font-weight: bold;
  border: 2px solid #000;
  box-shadow: 2px 2px #000;
  margin-top: 20px;
  padding: 20px;
}

.rebellion-left-section .features-list {
  margin-top: 20px;
}

.rebellion-left-section .features-list .feature i {
  border: 1px solid #000;
  padding: 20px 30px;
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
  color: #fff;
}

.rebellion-left-section .features-list .feature {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.rebellion-left-section .features-list .feature span {
  font-weight: 600;
  font-size: 18px;
}

.rebellion-left-section .features-list .feature .f1 {
  background-color: red;
}

.rebellion-left-section .features-list .feature .f2 {
  background-color: #2b7fff;
}

.rebellion-left-section .features-list .feature .f3 {
  background-color: #ad46ff;
}
.rebellion-left-section .features-list .feature .f4 {
  background-color: #00c951;
}

.rebeilion-btn {
  text-transform: uppercase;
  margin-top: 60px;
}

.rebeilion-btn i {
  margin-right: 5px;
}

.rebellion-cart {
  border: 2px solid #000;
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 20px;
}

.rebellion-cart p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}
.rebellion-cart .image img {
  width: 50px;
  border: 2px solid #000;
}

.rebellion-cart .user {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.details span.name {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.details span.job {
  font-size: 14px;
  color: #00000072;
}

.rebellion-carts .one {
  background-color: #fef2f2;
}

.rebellion-carts .two {
  background-color: #eff6ff;
}

.rebellion-carts .three {
  background-color: #faf5ff;
}

/*======================Footer Section======================= */
footer {
  background-color: #000;
  color: #fff;
}

footer .content {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  border-bottom: 4px solid #fff;
  padding-bottom: 50px;
}

.footer-ux-review {
  width: 40%;
}
.footer-ux-review .ux-review-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ux-review-logo i {
  background-color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 20px;
}

.ux-review-logo span,
.categories span,
.newsletter span {
  font-weight: bolder;
  text-shadow: 1px 1px #fff;
}

.ux-review-logo span {
  font-size: 28px;
}

.categories span,
.newsletter span {
  font-size: 24px;
}

.footer-ux-review p {
  margin-top: 20px;
  text-align: left;
  font-size: 20px;
}

.categories a,
.copyrights a {
  color: #fff;
}

.categories ul {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}

.categories ul li,
.newsletter p {
  margin-top: 20px;
}

.categories ul li a:hover {
  color: #ffd230;
}

.newsletter {
  width: 33.333%;
}

.newsletter span {
  display: block;
}

.newsletter p {
  line-height: 1.8;
  font-size: 18px;
  margin-bottom: 20px;
}

.newsletter input {
  display: block;
  width: 385px;
  padding: 15px;
  background-color: #000;
  border: 1px #fff solid;
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
}

.newsletter input:focus {
  border-color: yellow;
  outline: none;
}

.newsletter input::placeholder {
  font-size: 18px;
  text-transform: uppercase;
  color: gray;
}

.newsletter button {
  width: 385px;
  padding: 15px;
  background-color: #ffdf20;
  margin-bottom: 20px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 0.5s ease;
}

.newsletter button:hover {
  background-color: #ffd230;
  transform: translate(3px, 3px);
}

.copyrights {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 70px;
}

.copyrights span {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.copyrights ul {
  display: flex;
  gap: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.copyrights ul li a:hover {
  color: #ffd230;
}
