/* =================Google Fonts======================================= */
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  line-height: 1.4;
}

body {
  font-family: "Exo", sans-serif;
  border: 1px solid black;
}

a {
  color: black;
}

img {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/*=====================================Nav bar=============================== */
header {
  background-color: #fff085;
}
nav {
  padding-top: 20px;
}
nav .container {
  background-color: white;
  justify-content: space-around;
  align-items: center;
  padding-block: 10px;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 999;
  position: fixed;
  left: 12%;
  z-index: 1;
}

.left-rhombus, .author-left-rhombus,  .author-right-rhombus{
  transform: rotate(20deg);
  z-index: 0;
  border-radius: 1px;
}

.left-rhombus{
  width: 150px;
  height: 150px;
  background-color: #e5d877;
  margin-top: 25px;
  margin-left: 55px;
  top: 50px;
  left: 15px;
  border-radius: 1px;
}


.author-left-rhombus {
  width: 100px;
  height: 100px;
  background-color: #FFC131;
  transform: rotate(20deg);
  margin-left: 60px;
  margin-right: 100px;
  z-index: 0;
  border-radius: 1px;
}

.author-right-rhombus{
  width: 100px;
  height: 100px;
  background-color: #E5BD2B;
  transform: rotate(45deg);
  z-index: 0;
  border-radius: 1px;
  margin-left: 1100px;
}

nav .container,
nav .links ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

nav .logo p,
nav .logo span {
  font-size: 28px;
  font-weight: bolder;
}

nav .logo span {
  color: #ff6900;
}

nav .links {
  text-transform: uppercase;
  font-weight: 600;
}

nav .links ul {
  gap: 10px;
}

nav .links i {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.138);
}

nav .right-section button {
  padding: 10px;
  background-color: #ffd15b;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
}

/*==============================Hero Section CSS========================= */
.hero {
  height: 100vh;
  z-index: 1000;
  border-bottom: 4px solid black;
}

/*========Hero Content======= */
.hero .hero-content .trending-badge,
.left-section .latest-article-header .fresh {
  position: relative;
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  transform: rotate(-5deg);
  box-shadow: 5px 5px black;
}

.hero .hero-content .trending-badge span,
.left-section .latest-article-header .fresh {
  background-color: black;
  color: white;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.hero-content .trending-badge span i,
.left-section .fresh i {
  color: #f16f37;
}

.hero-content {
  width: 50%;
}

.hero-content h1 {
  padding-top: 30px;
  font-size: 80px;
  font-weight: bolder;
  text-shadow: 5px 5px #000;
}

.hero-content h1 .red-color {
  color: #e7000b;
  display: block;
}

.hero-content h1 .blue-color {
  color: #155dfc;
}

.hero-content p {
  background-color: white;
  color: #000;
  padding: 20px;
  font-size: 26px;
  font-weight: 500;
  border: 1px solid black;
  box-shadow: 5px 5px black;
}

.hero-content .hero-btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero-content .btn-start-reading,
.hero-content .btn-watch-intro {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: 5px 5px black;
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  width: 40%;
}

.hero-btns {
  transition: transform 0.3s ease;
}

.hero-btns:hover .btn-start-reading {
  transform: scale(0.5);
}

.hero-content .btn-start-reading img,
.hero-content .btn-watch-intro img {
  width: 18%;
  padding-right: 10px;
}

.hero-content .btn-start-reading {
  background-color: #000;
  color: white;
  margin-right: 20px;
}

.hero-content .btn-watch-intro {
  border: 4px black solid;
}

/*========Hero Image======= */
.right-rhombus {
  width: 100px;
  height: 100px;
  background-color: #ffdc7d;
  transform: rotate(40deg);
  z-index: 0;
  top: 200px;
  right: 100px;
  position: absolute;
  border-radius: 1px;
}

.hero .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hero-image {
  width: 40%;
  transform: rotate(5deg);
  border: 4px solid #000;
  box-shadow: 5px 5px black;
  position: relative;
  transition: transform 0.3s ease;
}

.hero-image:hover {
  transform: scale(1.1) rotate(5deg);
}

.hero-image .featured {
  position: absolute;
  background-color: #fb2c36;
  right: 1px;
  padding: 10px;
  color: white;
  border: 2px solid black;
  box-shadow: 5px 5px black;
  top: -18px;
  transform: rotate(5deg);
  text-transform: uppercase;
  font-weight: bold;
}

/*=======================Latest Article Section================================*/
.latest-article-section {
  border-bottom: #000 3px solid;
}

.latest-article-section .container{
 display: flex;
  align-items: flex-start;
}
.latest-article-section .left-section {
  width: 80%;
}

.latest-article-header h2 {
  font-size: 45px;
  font-weight: bolder;
  text-shadow: 2px 2px #000;
}
.latest-article-section .left-section .latest-article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.latest-article-section .left-section .fresh {
  transform: rotate(5deg);
}

.latest-article {
  background: white;
  padding: 20px;
  border: 4px solid black;
  box-shadow: 10px 10px 0 black;
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}

.latest-article .image {
  position: relative;
  width: 40%;
  padding-right: 30px;
}

.latest-article img {
  border: 3px solid black;
}


.tag {
  position: absolute;

  font-weight: 700;
  padding: 3px 10px;
  border: 2px solid black;
  color: white;
}
.tag.new {
    top: -10px;
  right: 10px;
  background: red;
  transform: rotate(10deg);
}

.tag.hot {
  background: #2B7FFF;
  transform: rotate(-10deg);
  top: -10px;
  right: 10px;
}

.tag.viral {
  top: -10px;
  right: 8px;
  background: #AD46FF;
  transform: rotate(45deg);
}

.article-info .category{
  box-shadow: 3px 3px black;
  padding: 2px 8px;
  font-weight: 700;
  border: 2px solid black;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  transform: rotate(-2deg);
  text-transform: uppercase;
}

.article-info .tech{
  background: #ffdf20;
}

.article-info .design{
  background: #7BF1A8;
}

.article-info .culture{
  background: #FDA5D5;
}


.article-info h2 {
  font-size: 24px;
  margin: 5px 0;
}

.article-info p {
  color: #000;
  line-height: 1.5;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
  font-size: 14px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

.info .red-heart {
  color: red;
}

.latest-article-section .left-section .load-more-btn{
  display: flex;
  justify-content: center;
}

.latest-article-section .left-section .load-more-btn button{
  margin-top: 30px;
  margin-bottom: 30px; 
  padding: 15px;
  color: #fff;
  background-color: #000;
  font-size: 24px;
  font-weight: 600;  
  box-shadow: 5px 5px #000;
}

.latest-article-section .container{
  display: flex;
}


/*===right section=== */
.latest-article-section .container .right-section{
  width: 50%;
  margin-left: 30px;
   position: sticky;
  top: 20px;
  align-self: flex-start;
}
.right-section .trending-now, .right-section .categories-box{
  margin-top: 40px;
  border: 2px solid black;
  box-shadow: 5px 5px #000;
  width: 80%;

}

.right-section .trending-now h3, .right-section .categories-box h3{
  padding-top: 15px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bolder;
  padding-left: 40px;
  display: block;
  text-shadow: 1px 1px black;
}

.right-section .trending-now .number{
  padding-top: 15px;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bolder;
  padding-left: 40px;
}


.right-section .trending-now .red{
  color: red;
  text-shadow: 1px 1px red;

}

.right-section .trending-now .blue{
color: #2B7FFF;
  text-shadow: 1px 1px #2B7FFF;
}

.right-section .trending-now .purple{
color: #AD46FF;
  text-shadow: 1px 1px #AD46FF;
}


.right-section .trending-now .content{
  display: flex;
  align-items:center;
}

.right-section .trending-now .content .details{
 margin-top: 26px;
 padding-left: 10px;
}

.right-section .trending-now .content .details p{
 font-size: 18px;
 font-weight: bolder;
}

.right-section .trending-now .content .details span{
  font-size: 14px;
  color: #00000077;

}

.right-section .trending-now .content .details span i{
  font-size: 12px;
  color: #f16f37;
}

.right-section .trending-now .last{
  margin-bottom: 20px;
}

  .category {
      border: 2px solid #000;
      margin-bottom: 15px;
      padding: 10px 15px;
      font-weight: 700;
      margin-top: 10px;

    }

   .categories-box  .tech {
      background-color: #fff8b0;
    }

     .categories-box  .design {
      background-color: #d6f5e3;
    }

    .categories-box .culture {
      background-color: #f8e2ef;
    }

   .categories-box   .opinion {
      background-color: #dce7fd;
    }

    .categories-box  .tutorials {
      background-color: #ebddfc;
    }

    .categories-box {
      padding: 25px;
      width: 280px;
      margin-bottom: 30px;
    }

  /*========================MEET THE AUTHORS Section==================*/

    .meet-author-section{
      background-color: #FFD230;
      padding-bottom: 40px;
      border-bottom: 3px solid #000;
    }

 
    .meet-author-section .author-header{
      padding-top: 50px;
  }

  .meet-author-section .author-header h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 1px 1px #000;
  }

    .meet-author-section .author-header span{
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: grey;
    font-weight: bold;   
    padding-top: 10px; 
  }

 .meet-author-section .author-header .underline {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 7px;
  background: #000;
  margin-top: 10px;
  margin-inline: auto;
}


.meet-author-section .carts{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 50px;
}

.meet-author-section .carts .cart{
  border: 5px solid #000;
  padding: 40px;
  box-shadow: 5px 5px #000;
}


.meet-author-section .carts .cart .badge {
  display: flex;
  justify-content: end;
}

.meet-author-section .carts .cart .badge span{
  color: white;
  border: 2px solid #000;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  font-size: 12px;
}

.meet-author-section .carts .one span.red{
  background-color: red;
  transform: rotate(10deg);
}

.meet-author-section .carts .two span.blue{
  background-color: #2B7FFF;
  transform: rotate(-10deg);
}

.meet-author-section .carts .three span.purple{
  background-color: #AD46FF;
  transform: rotate(45deg);
}

.meet-author-section .carts .cart .image{
  display: flex;
  justify-content: center;
}
.meet-author-section .carts .cart img{
  width: 150px;
  border: 5px solid #000;
}

.meet-author-section .carts .cart h3{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 28px;
  font-weight: bolder;
  text-shadow: 1px 1px #000;
}

.meet-author-section .carts .cart span.job{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-weight: bolder;
  color: #00000095;
}

.meet-author-section .carts .cart p{
  line-height: 1.5;
  text-align: center;
  padding-top: 10px;
}

.meet-author-section .carts .one{
  background-color: #FEF9C2;
}

.meet-author-section .carts .two{
  background-color: #DBFCE7;
}

.meet-author-section .carts .three{
  background-color: #FCE7F3;
}

.meet-author-section .carts .cart .social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.meet-author-section .carts .cart .social-icons i{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 20px 30px;
  margin-right: 10px;
}

  /*========================MEET THE AUTHORS Section==================*/






